
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error - Art Gallery</title>

    <link href="~/Content/images/favicon.png" rel="shortcut icon">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="display: flex;justify-content: center;align-items: center;height: 100vh;">
    <div> 
        <img src="~/Content/errorPage.jpg" alt="Alternate Text" />
    </div>
</body>
</html>
